/* Toast animation */
@keyframes sjt-toast-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sjt-animate-toast-in {
  animation: sjt-toast-in 0.2s ease-out forwards;
}
